<% student_register = @students.sort_by { |student| student.second_name } %>

<ul>
<% student_register.each do |student| %>
    <li class="student">
    <%= student.second_name %>, <%= student.first_name %> (<%= student.age %>)
    <img src="<%= student.house.logo_url %>%" alt="Logo of <%= student.house.name %>%" width="32" height="40">
     </li>
    <hr/>
<% end %>
</ul>

<form method="get" action="/students/new">
    <div class="submit-btn">
        <input type="submit" value="ADD STUDENT">
    </div>
</form>
